@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Mvc.web.ViewModels.StudentsViewModel

<html>
<body>
    <ul>
        学号：
        <li>@Model.Id </li>
        姓名：
        <li>@Model.Name </li>
        年龄：
        <li>@Model.Age </li>
        <a asp-action="Index">返回</a>
    </ul>
</body>  
</html>
