@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Mvc.web.ViewModels.HomeIndexViewModel

<html>
<body>
    <ul>
        @foreach (var s in Model.Students)
        {
            <li>
                @s.Name (@s.Age)
                <a asp-action="Detail" asp-route-id="@s.Id" asp-controller="Home">Detail</a>
            </li>
        }
    </ul>

    <a asp-action="Create" asp-controller="Home">添加一个学生</a>
</body>
</html>

